%section#articles
  - for article in articles[0..3]
    %article.post
      %header
        %span.metadata= article.date
        %h1
          %a{ :href => article.path }= article.title

      %section.post-body
        = article.summary
        %a{ :href => article.path, :class => 'read-more' } Continue reading &rarr;

