/* ------------------------------ *
 * Reset Reloaded (by Eric Meyer) *
 * ------------------------------ */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}body{line-height:1;color:black;background:white}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0}caption,th,td{text-align:left;font-weight:normal}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:""""}


html {
    margin: 20px;
}

body {
    margin: 0 auto;
    font-family: 'Droid Serif', Georgia, Times, serif;
    font-size: 14px;
    line-height: 1.75;
    padding: 15px;
    width: 880px;
    color: #333;
}

h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz', Arial, serif;
}

h1, h2 {
    font-size: 32px;
}

header {
    h1 {
        font-size: 28px;
        color: #555;

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}

#content {
    header {
        display: block;
        margin-bottom: 20px;

        h2 {
            display: inline-block;
            line-height: 1.2;

            a {
                padding: 1px 3px;
                background-color: #f00;
                color: #fff;
                text-decoration: none;
            }

            a:hover {
                background-color: #555;
            }
        }

        .date {
            display: block;
            color: #777;
        }
    }

    h3 {
        margin: 10px 0;
        font-size: 24px;
    }

    pre, code {
        font-family: 'Droid Sans Mono', monospace, serif;
        font-size: 1em;
        color: #a35;
    }

    pre {
        margin: 20px 0;
        line-height: 1.2;
    }

    ol, ul {
        margin: 10px 0;
    }
}