/* ------------------------------ *
 * Reset Reloaded (by Eric Meyer) *
 * ------------------------------ */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}body{line-height:1;color:black;background:white}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0}caption,th,td{text-align:left;font-weight:normal}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:""""}


@theme-color: #e00;
@theme-alternate-color: #555;
@unimportant-color: #777;
@link-color: #06c;
@link-visited-color: #96c;

@header-font: 'Yanone Kaffeesatz', Arial, sans-serif;
@separator: 1px dotted #bbb;

html {
  margin: 20px;
}

body {
  width: 778px;
  margin: 0 auto;
  padding: 15px 40px;
  font-family: 'Droid Serif', Georgia, Times, serif;
  font-size: 14px;
  line-height: 1.75;
  color: #111;
}

section, header, article, footer {
  display: block;
}

h1, h2, h3 {
  font-family: @header-font;
}

header#nav {
  font-family: @header-font;
  font-size: 20px;
  text-transform: uppercase;
  color: @theme-alternate-color;

  h1 {
    display: inline-block;
  }

  a {
    color: @theme-color;
    text-decoration: none;
  }

  a:hover {
    color: @theme-alternate-color;
  }
}

#content {
  header {
    margin-bottom: 20px;

    h2 {
      position: relative;
      display: inline-block;
      font-size: 32px;
      line-height: 1.2;

      a, a:link, a:active, a:visited {
        padding: 1px 3px 3px;
        background-color: @theme-color;
        color: #fff;
        text-decoration: none;
      }

      a:hover {
        background-color: @theme-alternate-color;

        &:after {
          border-top-color: @theme-alternate-color;
        }
      }

      a:after {
        content: ' ';
        position: absolute;
        top: 100%;
        left: 10px;
        height: 0;
        width: 0;
        border: 8px solid transparent;
        border-top-color: @theme-color;
      }
    }

    .metadata {
      display: block;
      margin-bottom: 5px;
      font-size: 11px;
      text-transform: uppercase;
      color: @unimportant-color;
    }
  }

  article.post, section#archives {
    margin-bottom: 50px;
    padding-bottom: 40px;
    border-bottom: @separator;
  }

  article.post {
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border: none;
    }

    section.feedback {
      margin-top: 40px;
      line-height: 1;
    }
  }

  a {
    color: @link-color;
  }

  a:visited {
    color: @link-visited-color;
  }

  a.read-more {
    display: block;
    text-align: left;
  }

  h3 {
    margin: 10px 0;
    font-size: 24px;
    color: #555;
  }

  p {
    margin: 10px 0;
    text-align: justify;
  }

  pre, code {
    font-family: 'Droid Sans Mono', monospace, serif;
    font-size: 1em;
    color: #459;
  }

  pre {
    margin: 20px 0;
    line-height: 1.2;
  }

  ol, ul {
    margin: 10px 0;
  }

  ol {
    list-style-type: decimal-leading-zero;
  }

  ul {
    list-style-type: circle;
  }
}

footer {
  margin: 50px 0 30px;
  padding-top: 50px;
  border-top: @separator;
  font-size: 11px;
  color: @unimportant-color;
  text-transform: uppercase;
}

