@import "reset";

$theme-color: #D41;
$theme-alternate-color: #333;
$unimportant-color: #888;
$link-color: #06C;
$link-visited-color: #96C;

$header-font: Helvetica, Arial, sans-serif;
$separator: 1px dotted #BBB;

html {
  margin: 20px;
}

body {
  width: 778px;
  margin: 0 auto;
  padding: 15px 40px;
  overflow-y: scroll;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.75;
  color: #444;
}

section, header, article, footer {
  display: block;
}

h1, h2, h3 {
  font-family: $header-font;
}

header#nav {
  margin-bottom: 14px;
  text-align: right;

  h1 {
    display: inline-block;
    padding: 10px 13px;
    background: $theme-color;
    font-family: $header-font;
    font-size: 21px;
    line-height: 1;
    color: #FFF;
    -webkit-transition: background-color 0.33s linear;
    -moz-transition: background-color 0.33s linear;
    -o-transition: background-color 0.33s linear;
    transition: background-color 0.33s linear;

    &:after {
      content: ".";
    }
  }

  a {
    text-decoration: none;

    &:hover h1 {
      background: $theme-alternate-color;
    }
  }
}

#content {
  header {
    margin-bottom: 10px;

    h1 {
      font-size: 34px;
      line-height: 1.2;

      a, a:active, a:visited {
        color: $theme-color;
        text-decoration: none;
        -webkit-transition: color 0.33s linear;
        -moz-transition: color 0.33s linear;
        -o-transition: color 0.33s linear;
        transition: color 0.33s linear;
      }

      a:hover {
        color: $theme-alternate-color;
      }
    }

    .metadata {
      display: block;
      font-size: 11px;
      text-transform: uppercase;
      color: $unimportant-color;
    }
  }

  article.post, section#archives {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: $separator;
  }

  article.post {
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border: none;
    }

    section.feedback {
      margin-top: 40px;
      line-height: 1;
    }
  }

  a {
    color: $link-color;
  }

  a:visited {
    color: $link-visited-color;
  }

  a.read-more {
    display: block;
    color: $link-color;
  }

  h2 {
    margin: 10px 0;
    font-size: 21px;
  }

  p {
    margin: 10px 0;
    text-align: justify;
  }

  pre, code {
    font-family: Courier, monospace, serif;
    font-size: 1em;
    color: #A52;
  }

  pre {
    margin: 20px 0;
    line-height: 1.5;
  }

  ol, ul {
    margin: 10px 0;
  }

  ol {
    list-style-type: decimal-leading-zero;
  }

  ul {
    list-style-type: circle;
  }
}

footer {
  margin: 50px 0 30px;
  padding-top: 50px;
  border-top: $separator;
  font-size: 11px;
  color: $unimportant-color;
  text-transform: uppercase;
}

