/* ------------------------------ *
 * Reset Reloaded (by Eric Meyer) *
 * ------------------------------ */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}body{line-height:1;color:black;background:white}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0}caption,th,td{text-align:left;font-weight:normal}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:""""}


$theme-color: #E40;
$theme-alternate-color: $theme-color - #333;
$unimportant-color: #777;
$link-color: #06C;
$link-visited-color: #96C;

$header-font: Helvetica, Arial, sans-serif;
$separator: 1px dotted #BBB;

html {
  margin: 20px;
}

body {
  width: 778px;
  margin: 0 auto;
  padding: 15px 40px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.75;
  color: #111;
}

section, header, article, footer {
  display: block;
}

h1, h2, h3 {
  font-family: $header-font;
}

header#nav {
  margin-bottom: 14px;
  text-align: right;

  h1 {
    display: inline-block;
    padding: 10px 13px;
    background: $theme-color;
    font-family: $header-font;
    font-size: 21px;
    line-height: 1;
    color: #FFF;

    &:after {
      content: ".";
    }
  }

  a:hover h1 {
    background: $theme-alternate-color;
  }
}

#content {
  header {
    margin-bottom: 10px;

    h1 {
      font-size: 34px;
      line-height: 1.2;

      a, a:link, a:active, a:visited {
        color: $theme-color;
        text-decoration: none;
      }

      a:hover {
        color: $theme-alternate-color;
      }
    }

    .metadata {
      display: block;
      font-size: 11px;
      text-transform: uppercase;
      color: $unimportant-color;
    }
  }

  article.post, section#archives {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: $separator;
  }

  article.post {
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border: none;
    }

    section.feedback {
      margin-top: 40px;
      line-height: 1;
    }
  }

  a {
    color: $link-color;
  }

  a:visited {
    color: $link-visited-color;
  }

  a.read-more {
    display: block;
    text-align: left;
  }

  h2 {
    margin: 10px 0;
    font-size: 21px;
    color: #555;
  }

  p {
    margin: 10px 0;
    text-align: justify;
  }

  pre, code {
    font-family: Courier, monospace, serif;
    font-size: 1em;
    color: #459;
  }

  pre {
    margin: 20px 0;
    line-height: 1.5;
  }

  ol, ul {
    margin: 10px 0;
  }

  ol {
    list-style-type: decimal-leading-zero;
  }

  ul {
    list-style-type: circle;
  }
}

footer {
  margin: 50px 0 30px;
  padding-top: 50px;
  border-top: $separator;
  font-size: 11px;
  color: $unimportant-color;
  text-transform: uppercase;
}

