/* ------------------------------ * Reset Reloaded (by Eric Meyer) * ------------------------------ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

body { line-height: 1; color: black; background: white; }

ol, ul { list-style: none; }

table { border-collapse: separate; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; }

blockquote, q { quotes: """"; }

html { margin: 20px; }

body { width: 778px; margin: 0 auto; padding: 15px 40px; font-family: 'Droid Serif', Georgia, Times, serif; font-size: 14px; line-height: 1.75; color: #111; }

section, header, article, footer { display: block; }

h1, h2, h3 { font-family: "Yanone Kaffeesatz", Arial, sans-serif; }

header#nav { font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-size: 20px; text-transform: uppercase; color: #bb0000; }
header#nav h1 { display: inline-block; }
header#nav a { color: #ee0000; text-decoration: none; }
header#nav a:hover { color: #bb0000; }

#content header { margin-bottom: 20px; }
#content header h2 { position: relative; display: inline-block; font-size: 32px; line-height: 1.2; }
#content header h2 a, #content header h2 a:link, #content header h2 a:active, #content header h2 a:visited { padding: 1px 3px 3px; background-color: #ee0000; color: #fff; text-decoration: none; }
#content header h2 a:hover { background-color: #bb0000; }
#content header h2 a:hover:after { border-top-color: #bb0000; }
#content header h2 a:after { content: ' '; position: absolute; top: 100%; left: 10px; height: 0; width: 0; border: 8px solid transparent; border-top-color: #ee0000; }
#content header .metadata { display: block; margin-bottom: 5px; font-size: 11px; text-transform: uppercase; color: #777777; }
#content article.post, #content section#archives { margin-bottom: 50px; padding-bottom: 40px; border-bottom: 1px dotted #bbbbbb; }
#content article.post:last-child { margin-bottom: 0; padding-bottom: 0; border: none; }
#content article.post section.feedback { margin-top: 40px; line-height: 1; }
#content a { color: #0066cc; }
#content a:visited { color: #9966cc; }
#content a.read-more { display: block; text-align: left; }
#content h3 { margin: 10px 0; font-size: 24px; color: #555; }
#content p { margin: 10px 0; text-align: justify; }
#content pre, #content code { font-family: 'Droid Sans Mono', monospace, serif; font-size: 1em; color: #459; }
#content pre { margin: 20px 0; line-height: 1.2; }
#content ol, #content ul { margin: 10px 0; }
#content ol { list-style-type: decimal-leading-zero; }
#content ul { list-style-type: circle; }

footer { margin: 50px 0 30px; padding-top: 50px; border-top: 1px dotted #bbbbbb; font-size: 11px; color: #777777; text-transform: uppercase; }
